body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-wrapper {
  padding: 2%;
  display: inline-block;
}

.main.chart-wrapper {
  width: 96%;
  height: 400px;
}

.sub.chart-wrapper {
  width: 29%;
  height: 300px;
}

/* Simple responsivenss example */
@media (max-width: 700px) {
  .sub.chart-wrapper {
    width: 96%;
  }
}
